.daily-goal__container {

}

.daily-goal__container h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.daily-goal__container input {
    height: 3rem;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    padding: .3rem;
    color: var(--text-dark);
    font-size: 1.5rem;
}

.daily-goal__cta-btn {
    border: 2px solid var(--text-light);
    border-radius: 7px;
    padding: .5rem;
    width: fit-content;
    margin: 1rem auto;
    cursor: pointer;
}

.daily-goal__cta-btn:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
