
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary-color: #2e93c6;
    --background-color: #0880d9;
    --text-light: #e4e4e5;
    --text-dark: #292929;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 	/* 1rem = 10px */
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    background-color: var(--background-color);
    color: var(--text-light)
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* UTILS */

.flex {
    display: flex;
}

.fl-jc-cent {
    justify-content: center;
}

.fl-jc-se {
    justify-content: space-evenly;
}
